*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(27, 27, 27);
    color: #fff;
}
section{
    text-align: center;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 306px;
    margin: 50px auto;
    position: relative;
}

.cell{
    font-family: inherit;
    width: 100px;
    height: 100px;
    border: 1px solid #6d6d6d;
    cursor: pointer;
    line-height: 100px;
    font-size: 40px;
}

.cell:nth-child(-n + 3){
    border-top: none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:nth-last-of-type(-n + 3){
    border-bottom: none;
}
button{
    border: none;
    color: #fff;
    background-color: teal;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s ease-in;
}

button:hover{
    background-color: rgb(1, 65, 65);
    transform: scale(.98);
}

.x::after{
    content: "X";
}
.o::after{
    content: "O";
}
.disabled{
    cursor: not-allowed;
}
.cell:not(.disabled):hover{
    background: #eee;
    color: #111;
    opacity: .6;
}

.game-over{
    display: none;
    background: rgb(185, 178, 178);
    color: #111;
    padding: 20px 25px;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.game-over-text{
    margin-bottom: 15px;
}

.visible{
    display: block;
}

.opacity{
    opacity: .1;
}

/* selects any element that is not a paragrapgh
:not(p){
    color: black;
} */